[user]
	email = tuure.piitulainen@gmail.com
	name = Tuure

[alias]
        s = status
	a = add
	c = commit
        ca = commit --amend
        p = push
        d = diff
        ds = diff --staged
        b = branch
        co = checkout
        l = log

[pull]
	ff = only
