# readline keybinds

# Enable up-arrow history traversal based on partial command
# https://askubuntu.com/questions/59846/bash-history-search-partial-up-arrow

# arrow up
"\e[A":history-search-backward
# arrow down
"\e[B":history-search-forward
