/* TAB BAR */

/* Hide tab bar spacer on the left corner */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

/* Spacer between new tab button and window controls */
/* Reduce width from 40px to 15px */
.titlebar-spacer[type="post-tabs"] {
    width: 15px !important;
}

/* Hide "All Tabs" dropdown list button */
#alltabs-button {
    display: none !important;
}

/* Hide favicon from New Tab */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
    display: none !important;
}

/* Fix min and max buttons invisible on hover */
/* Also makes close button look the same on hover, rather than red bg color */
.titlebar-button:hover {
    background-color: #484746 !important;
    color: #f9f2ee !important;
}

/* ADDRESS BAR */

/* Hide "Search with Google or enter address" */
#urlbar-input::placeholder {
    opacity: 0 !important;
}

#reader-mode-button {
    display: none !important;
}

/* MEGABAR */

/* Hide first row which is useless: */
/* just repeats what's on the address field */
.urlbarView-row:first-of-type {
    display: none !important;
}

/* Reduce enormous search suggestions row padding from 6px to 2px */
.urlbarView-row-inner {
    padding-block: 2px !important;
}

/* NEW TAB */

/* Fixes New Tab background flashing white before setting custom bg color */
/* (may have side effects? keep an eye) */
#tabbrowser-tabpanels{
    background-color: #343737 !important;
}

/* FINDBAR */

/* Hide checkboxes */
/* Warning: make sure Highlight All is toggled on and the rest off */
.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word {
    display: none !important;
}
