/* TAB BAR */

/* Hide tab bar spacer on the left corner */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

/* Spacer between new tab button and window controls */
/* Reduce width from 40px to 15px */
.titlebar-spacer[type="post-tabs"] {
    width: 15px !important;
}

/* Hide "All Tabs" dropdown list button */
#alltabs-button {
    display: none !important;
}

/* Hide favicon from New Tab */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
    display: none !important;
}

/* Fix min and max buttons invisible on hover */
/* Also makes close button look the same on hover, rather than red bg color */
.titlebar-button:hover {
    background-color: #484746 !important;
    color: #f9f2ee !important;
}

/* ADDRESS BAR */

/* Hide "Search with Google or enter address" */
#urlbar-input::placeholder {
    opacity: 0 !important;
}

/*
    Change color of the solid border that divides address bar and page
    By default the border color is determined by: 
        Firefox Colors -> Custom colors -> Background Color
    In my theme it's almost black (#191919) which is hard on the eyes
    The following makes it a lighter gray
*/
#navigator-toolbox {
    border-bottom: 1px solid #949494 !important;
}

#reader-mode-button {
    display: none !important;
}

/* MEGABAR */

/* Hide first row which is useless: */
/* just repeats what's on the address field */
.urlbarView-row:first-of-type {
    display: none !important;
}

/* Reduce enormous search suggestions row padding from 6px to 2px */
.urlbarView-row-inner {
    padding-block: 2px !important;
}

/* FINDBAR */

/* Hide checkboxes */
/* Warning: make sure Highlight All is toggled on and the rest off */
/* All these can be toggled in about:config, search for "findbar" */
.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word {
    display: none !important;
}

/* FIREFOX COLOR THEME NOTES */

/*
    Link to theme:
    https://color.firefox.com/?theme=XQAAAAIpAQAAAAAAAABBKYhm849SCia3ftKEGccwS-xMDPsqvGnCXAF6EJDWcx9sS_Bi3JZGE6ZZI2STfI2PTljkR9h-XHM39YpblCWMouVZmYeGLeJSfiVmiQVwIk3UGujkXsu6rNq6j3m1AxNZc-T8yzX8Fabm7i3h9xXjjA1DyVopI9VCZxTaxAJ74aNM9JDnprlmXV_BeRGJ9MzIqY_MRxEpW0f8zOYzMmqI5ZWeLB7SaAM__rccwA

    Advanced Colors:

    Popup Highlight - Selection bg in the dropdown of address bar
    #3584e4

    Toolbar Field Border Focus - Address bar border when focused
    #0061e0
*/
