/* TAB BAR */
/* Extremely compact title bar and tabs */

:root {
    --tab-min-height: 0 !important;
    --tab-content-offset-top: 4px;
}

#TabsToolbar {
    max-height: 26px !important; /* Same as Openbox titlebar height */
    font-size: 11px !important;
}

.tab-background {
    margin-top: var(--tab-content-offset-top) !important;
    margin-bottom: 0px !important;
}

#TabsToolbar {
    /* First tab as close to the left as possible */
    margin-left: -2px !important;
}

.tab-close-button, .tab-icon-image, .tab-icon-overlay, .tab-throbber,
button[aria-label="Mute tab"], button[aria-label="Unmute tab"] {
    margin-top: var(--tab-content-offset-top) !important;
}

.tab-text {
    padding-top: var(--tab-content-offset-top) !important;
}

#tabs-newtab-button > image, #new-tab-button > image,
#scrollbutton-up > image, #scrollbutton-down > image {
    margin-top: 3px !important; /* Looks better slightly higher for some reason */
    height: 14px !important;
    width: 14px !important;
}

/* Set window control icons to what they were before Firefox 140.0 */
/* ~/.mozilla/firefox/w1rfpz3z.default-release/chrome/window-control-icons/ */
/* Todo: their color is set in the svg tags' "stroke" */
/* Would be better to be able to set the color in userChrome (i.e. here) */
.titlebar-min > .toolbarbutton-icon {
    background-image: url("window-control-icons/minimize.svg") !important;
    background-color: transparent !important;
}
.titlebar-max > .toolbarbutton-icon {
    background-image: url("window-control-icons/maximize.svg") !important;
    background-color: transparent !important;
}
.titlebar-restore > .toolbarbutton-icon {
    background-image: url("window-control-icons/restore.svg") !important;
    background-color: transparent !important;
}
.titlebar-close > .toolbarbutton-icon {
    background-image: url("window-control-icons/close.svg") !important;
    background-color: transparent !important;
}
.titlebar-min:hover > .toolbarbutton-icon {
    background-color: #474646 !important;
}
.titlebar-max:hover > .toolbarbutton-icon {
    background-color: #474646 !important;
}
.titlebar-restore:hover > .toolbarbutton-icon {
    background-color: #474646 !important;
}
.titlebar-close:hover > .toolbarbutton-icon {
    background-color: #474646 !important;
}

.titlebar-buttonbox {
    --titlebar-button-size: 14px !important;
    --titlebar-button-spacing: 5px !important;
    --titlebar-button-end-spacing: 7.5px !important;
}

/* Hide tab bar spacer on the left corner */
.titlebar-spacer[type="pre-tabs"] {
    display: none !important;
}

/* Spacer between new tab button and window controls */
/* Reduce width from 40px to 15px */
.titlebar-spacer[type="post-tabs"] {
    width: 15px !important;
}

/*
    Increase tabs max width to about a third of a half-screen window's width
    Makes tab titles more useful when you can actually read them...

    See:
    https://www.reddit.com/r/FirefoxCSS/comments/j6rbcg/comment/g80b72i
 */
.tabbrowser-tab[fadein] {
    max-width: 284px !important;
}

/* Hide "All Tabs" dropdown list button */
#alltabs-button {
    display: none !important;
}

/* Hide favicon from New Tab */
.tabbrowser-tab[label="New Tab"] .tab-icon-image {
    display: none !important;
}

/* ADDRESS BAR */

/* Hide "Search with Google or enter address" */
#urlbar-input::placeholder {
    opacity: 0 !important;
}

/* Reduce spacing between text prompt and magnifying glass icon */
/* (icon only shows when browser.urlbar.scotchBonnet.enableOverride is false) */
#identity-box[pageproxystate="invalid"] {
    margin-right: 0.7px !important;
}

/*
    Change the color of the 1px borders that separate the UI bars from the page

    By default the border color is determined by: 
        Firefox Colors -> Custom colors -> Background Color

    In my theme it's almost black (#191919) which looks bad against a white page IMO
    Same thing with the top border of findbar (Ctrl+f) at the bottom.

    The following makes the borders a lighter gray
*/
#navigator-toolbox {
    border-bottom: 1px solid #949494 !important;
}
.browserContainer > findbar {
    border-top: 1px solid #949494 !important;
}

#reader-mode-button {
    display: none !important;
}

/* MEGABAR */

/* Hide first row which is useless: */
/* just repeats what's on the address field */
.urlbarView-row:first-of-type {
    display: none !important;
}

/* Hide useless buttons that appear if writing something that's also the name of a search
   engine */
.urlbarView-row[type="dynamic"][dynamicType="actions"] {
  display: none !important;
}

/* Reduce enormous search suggestions row padding from 6px to 2px */
.urlbarView-row-inner {
    padding-block: 2px !important;
}

/* FINDBAR */

/* Hide checkboxes */
/* Warning: make sure Highlight All is toggled on and the rest off */
/* All these can be toggled in about:config, search for "findbar" */
.findbar-highlight,
.findbar-case-sensitive,
.findbar-match-diacritics,
.findbar-entire-word {
    display: none !important;
}

/* EXTENSIONS DROPDOWN */

/* Hide settings gear spam, because right clicking does the exact same */
.unified-extensions-item-menu-button {
    display: none !important;
}

/* Reduce width since the gear icons are hidden */
/* (final width is decided by longest extension name) */
#unified-extensions-view {
    width: unset !important;
}

/* Hide repetitive permission info in a place where I'd never care to see it */
.unified-extensions-item-message-deck {
    display: none !important;
}

/* Hide header "Extensions" and the separator line below it */
#unified-extensions-view > .panel-header,
#unified-extensions-view > toolbarseparator:first-of-type {
    display: none !important;
}

/* FIREFOX COLOR THEME NOTES */

/*
    Link to theme:
    https://color.firefox.com/?theme=XQAAAAJSAQAAAAAAAABBKYhm849SCia48_6EGccwS-xMDPsqvGnCXAF6EJDWcx9sS_Bi3JZGE6ZZI2STfI2PTljkR9h-XHM39YpblCWMouVZmYeGLeJSfiVmhADNnjl0x_6-RlTLkJHXj2sBO_mAIE39EJfuSJCXI29EAWK5NgS0sbhcJcGSYyXV0LMOy9DGOYdV56iph3jnPb-8a79P-5m7JN5nv2EEsjTz5qppcCMNpoeo1Ji9HDrFKOfO6w9h2jh0RBFuXB7G4UpSSN__zWe94A

    Advanced Colors:

    Popup Highlight - Selection bg in the dropdown of address bar
    #3584e4

    Toolbar Field Border Focus - Address bar border when focused
    #0061e0
*/
