/* Address bar */
.button-toolbar.ContentBlocker-Control {display: none;}
.toolbar.toolbar-small.toolbar-insideinput button[title="Reader View"] {display: none;}
.toolbar.toolbar-small.toolbar-insideinput button[title="Translate Page"] {display: none;}
