configuration {
    modi: "window,drun,ssh";

    theme: "~/.config/rofi/themes/goodnight.rasi";
    terminal: "alacritty";

    window-format: "{c}    {t}";

    window {
        close-on-delete: false;
    }

    // Set these keybinds to free Ctrl+j and Ctrl+k from defaults
    kb-remove-to-eol: "Control+p";
    kb-accept-entry: "Return";

    // Custom keybindings
    kb-delete-entry: "Shift+Delete,Control+q";
    kb-row-down: "Down,Control+j";
    kb-row-up: "Up,Control+k";
}
