[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=OBConf
GenericName=Configuration Manager
Comment=Tweak settings for Openbox
Icon=obconf
Exec=obconf %f
Categories=Settings;DesktopSettings;GTK;
MimeType=application/x-openbox-theme;
StartupNotify=true
Terminal=false
