[Desktop Entry]
Version=1.0
Type=Application
Name=Zathura
GenericName=PDF Reader
Comment=A minimalistic document viewer
Exec=env GTK_THEME=Adwaita zathura %U
Terminal=false
NoDisplay=true
Categories=Office;Viewer;
MimeType=application/pdf;application/oxps;application/epub+zip;application/x-fictionbook;
